<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bruh Commands</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <style>
      body {
        padding-top: 15px;
      }
      .spoiler {
        color: black;
        background-color: black;
      }

      .spoiler:hover {
        background-color: white;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Bruh Counter
      </h1>
      <p>
        A Discord bot by cdw2014#3949
      </p>
      <p>
        Source code: https://glitch.com/~bruh-counter
      </p>
      <span class="spoiler"
        >Old code prior to refactoring just to show how bad it was:
        https://glitch.com/~lava-opalescent-crafter</span
      >
      <table style="width:100%">
        <tr>
          <td>
            <h3>
              Command
            </h3>
          </td>
          <td>
            <h3>
              This will happen
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            bruh
          </td>
          <td>
            Bot will reply with "@you BRUH" and increment the bruh moment count
            with you as the recorder and initiator
          </td>
        </tr>
        <tr>
          <td>
            @someone bruh
          </td>
          <td>
            Bot will reply with ""@someone BRUH" and increment the bruh moment
            count with you as the recorder and @someone as the initiator
          </td>
        </tr>
        <tr>
          <td>
            bruh count
          </td>
          <td>
            Bot will reply with the total count of bruh moments
          </td>
        </tr>
        <tr>
          <td>
            bruh count @someone
          </td>
          <td>
            Bot will reply with the count of bruh moments initiated by @someone
          </td>
        </tr>
        <tr>
          <td>
            bruh log
          </td>
          <td>
            Bot will reply with the spreadsheet
          </td>
        </tr>
        <!--         <tr>
          <td>
            bruh sound effect 2
          </td>
          <td>
            Bot will join the voice channel and play bruh sound effect 2
          </td>
        </tr> -->
        <tr>
          <td>
            !annoycj [COLOR] [BRIGHTNESS%]
          </td>
          <td>
            Bot will change the color and brightness of my lights
          </td>
        </tr>
        <tr>
          <td>
            maze
          </td>
          <td>
            Bot will reply with a plug for my shitty game
          </td>
        </tr>
        <tr>
          <td>
            china
          </td>
          <td>
            Bot will reply a reminder of an event that never happened
          </td>
        </tr>
        <tr>
          <td>
            bruhsound [SOUND]
          </td>
          <td>
            Bot will join the voice channel and play the selected sound clip
          </td>
        </tr>
        <tr>
          <td>
            bruhsound help
          </td>
          <td>
            Bot will reply with a list of bruhsound options
          </td>
        </tr>
        <tr>
          <td>
            bruhplay [LINK]
          </td>
          <td>
            Bot will play youtube link
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
